 @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Vina+Sans&display=swap');


 *{
   font-family: 'Oswald', sans-serif;
   font-family: 'Vina Sans', cursive;
 }

 body{
  margin: 0;
  justify-content: center;
  background-color: 	#282b30;
  overflow-x: hidden;
 }

 nav{
   justify-content: center;
   display: none;
   width: 100%;
   top: 0;
 }

 .navContent{
   background-color: red;
   border-radius: 30px 30px 30px 30px;
   height: 50px;
   width: 450px;
 }

.navBtn{
   cursor: pointer;
   font-size: 2rem;
   margin-left: 3rem;
   transition: 0.5s;
}

.navBtn:hover{
   color: white;
   transition: 0.5s;
}

 li{
   list-style: none;
   display: inline-flex;
 }

 section{
   width: 100%;
   height: auto;
   justify-content: center;
 }

 .Container{
   justify-items: center;
   margin-top: 15rem;
   height: 20rem;
   width: 100%;
 }

 .welcomeText{
  font-family: 'Oswald', sans-serif;
  font-family: 'Vina Sans', cursive;
  color: white;
  font-size: 4.5rem;
  font-weight: 200;
  text-align: center;
 }

 .welcomeDesc{
  font-family: 'Oswald', sans-serif;
  font-family: 'Vina Sans', cursive;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
 }

 .inputText{
  cursor: pointer;
  display: inline-block;
  height: 80px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-size: larger;
 }

 #enterId{
   height: 30px;
   width: 250px;
 }

 .pictureIcon{
   height: 100px;
   width: 100px;
 }

 .serveInfo{
   justify-content: center;
   color: white;
   margin-top: 5rem;
   height: 50px;
   width: 100%;
   display: inline-flex;
 }

 .Actu{
   display: inline-block;
   text-align: center;
   font-size: 2.5rem;
 }

 .Member, .Helper, .Modo, .fondateur{
  margin: auto 15px;
   text-align: center;
 }

 .counter{
   border-bottom: solid white;
 }

